<h1>From <%= @message.author %></h1>
<p>
  <%= @message.created_at  %>
</p>
<p>
  <%= @message.content  %>
</p>

<% if @message.url %><p>Link: <%= @message.url %></p><% end %>

<h3> Other messages by this author: </h3>
<% @author_messages.each do |post| %>
  <% unless post.content == @message.content %>
    <p><%= post.content %></p>
  <% end %>
<% end %>

<hr/>
<a href="/messages">Back to All Messages</a>